app: goalhead.finetune
folder: ${JEPAWM_LOGS}/goalhead/mw_reach_wall_finetune_mix4

wm_checkpoint: https://dl.fbaipublicfiles.com/jepa-wms/mw_jepa-wm.pth.tar

# Start from the best v1 finetuned single-goal model
goalhead_checkpoint: ${JEPAWM_LOGS}/goalhead/mw_reach_wall_finetune/goalhead_finetuned.pt

task: mw42
n_episodes: 5000
max_episode_steps: 100

img_size: 224
frameskip: 5
goal_H: 6
max_text_len: 4

goalhead:
  kind: mixture_v1
  mixture_k: 4
  prompt_len: 4
  component_scale: 10.0
  prompt_scale: 10.0
  depth: 4
  num_heads: 8
  text_embed_dim: 256
  mlp_ratio: 4
  dropout: 0.0
  lambda_div: 0.1
  lambda_ent: 0.01
  lambda_balance: 0.1
  lambda_orth: 0.001
  lambda_comp: 0.1
  lambda_prompt: 0.1
  gumbel_noise: 0.5
  lambda_gate: 1.0
  tau_start: 1.0
  tau_end: 0.2

batch_size: 32
num_workers: 0
lr: 0.0001
weight_decay: 0.0001
epochs: 3
lambda_cos: 1.0
alpha_proprio: 0.1
device: cuda:0

wm_module_name: app.vjepa_wm.modelcustom.simu_env_planning.vit_enc_preds
wm_data_aug:
  normalize:
    - [0.485, 0.456, 0.406]
    - [0.229, 0.224, 0.225]
wm_data:
  dataset_type: custom
  datasets: [METAWORLD_HF]
  img_size: 224
  custom:
    frameskip: 5
    action_skip: 1
    state_skip: 1
wm_pretrain_kwargs:
  grid_size: 16
  tubelet_size_enc: 1
  use_activation_checkpointing: false
  action_conditioning: token
  proprio_encoding: feature
  num_frames_pred: 4
  visual_encoder:
    enc_type: dino
    enc_version: dinov2_vits14
    pretrain_enc_path:
    pretrain_enc_ckpt_key: target_encoder
    embed_dim: 384
    enc_use_rope:
    enc_name:
    use_sdpa_enc: true
    num_frames_enc: 16
    uniform_power: true
  action_encoder:
    action_tokens: 1
    action_emb_dim: 0
    act_mlp: false
    action_encoder_inpred: true
  proprio_encoder:
    proprio_tokens: 0
    proprio_emb_dim: 16
    prop_mlp: false
    proprio_encoder_inpred: false
  predictor:
    tubelet_size: 1
    pred_num_heads: 16
    pred_depth: 6
    pred_embed_dim: 384
    pred_use_extrinsics: false
    pred_type: AdaLN
    act_pred_projector: false
    use_SiLU: false
    use_rope: true
  wm_encoding:
    batchify_video: true
    dup_image: false
    normalize_reps: false
  attn:
    local_window_time: 3
    local_window_h: -1
    local_window_w: -1
  heads_cfg:
    architectures: {}
